#testimonialCarousel {
    .carousel-inner {
      .carousel-item {
        .card.testimonial-card {
          background-color: $quaternary-color;
          border: 1px solid $quaternary-color;
          padding: 20px;
          font-family: $poppins-font;
          transition-duration: $transition-duration;
  
          .quote-icon {
            i {
              color: $primary-color;
              font-size: 24px;
            }
          }
  
          p {
            font-size: $font-size;
            color: $text-color;
            font-weight: $font-weight;
            margin-bottom: 10px;
          }
  
          .small {
            font-size: 14px;
            color: $text-color;
            font-style: italic;
          }
        }
      }
  
      .carousel-item.active {
        .card.testimonial-card {
          background-color: $quaternary-color;
          border: 1.5px solid $text-color;
        }
      }
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      color: $primary-color;
      font-size: 24px;
    }
  }