#fondo-paginas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.wallpaperscraft.com/image/single/bmw_i8_bmw_car_315923_1920x1080.jpg);
    background-position: center;
    background-size: cover;
  }