header{
    height: 54.8em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header-bg {
    background-image: $background-image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }