#servicios .feature {
    margin: 0 auto;
  }
  
  #servicios .feature img {
    margin-bottom: 30px;
    margin-top: 60px;
  }
  
  #servicios h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #servicios p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    text-align: center;
  }