h1{
  font-family: $poppins-font !important; 
  animation: fade-in 0.5s ease-in-out forwards;
}

#slogan{
    padding-top: 20px;
    font-family: $poppins-font;
    color: $quaternary-color !important;
  }